name: Update VPN Configs

on:
  schedule:
    - cron: '0 * * * *'
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          ref: ${{ github.head_ref }}

      - name: Set up Python
        uses: actions/setup-python@v3
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: pip install requests

      - name: Run script
        run: python main.py

      - name: Verify file creation
        run: |
          if [ -f "sub.txt" ]; then
            echo "✅ FILE EXISTS!"
            ls -l sub.txt
          else
            echo "❌ FILE MISSING!"
            exit 1
          fi

      - name: Auto Commit
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "Auto-update VPN list"
          file_pattern: sub.txt
          push_options: '--force'
